input[type=submit], input[type=text] {
    margin-bottom: 6px;
    width: 100%;
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 3px;
}

div.custom_field_row, div.custom_field {
  width: 100%
}
